.box {
  display: flex;
  width: calc(100% / 3 - 16px * 2 / 3);
}
.box :hover {
  cursor: pointer;
  background-color: var(--color-hover_comment);
  transform: scale(1.05);
}
.container {
  width: 100%;
  padding: 54px 50px 51px 50px;
  border-radius: 32px;
  background-color: var(--color-black);
  white-space: pre-wrap;

  color: var(--color-white);
}

.comment {
  margin-top: 21px;
  font-size: 36px;
  line-height: 43.2px;
}
.author {
  margin-top: 19px;
  font-size: 24px;
  line-height: 28.8px;
  color: var(--color-gray);
}
