.container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 100px 20px;
  width: 1300px;
  height: 740px;
  display: flex;
  align-items: center;
}
.viewport {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
}
.view {
  display: flex;

  height: 100%;
  transition: translate;
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
.counter {
  margin-top: 10px;
  font-size: 17px;
  line-height: 27px;
  color: var(--color-white);
}
.buttonLeft {
  position: absolute;
  cursor: pointer;
  left: 40px;
  top: 50%;

  fill: var(--color-white);
}
.buttonRight {
  position: absolute;
  cursor: pointer;
  right: 40px;
  top: 50%;

  fill: var(--color-white);
}
